<div class="jumbotron">
      <div class="container">
        <h1>All Data Coins</h1>
      </div>
    </div>

<div class="outer_container">
<div class="row">
  <div class="container">
    <% @data_coins_first.each do |data_coin| %>
    <div class="col-md-3">
      <%= link_to(data_coin) do %>
      <div class="col-md-4">
        <h2><%= data_coin.name %></h2>
          <p class="info"></p>
      </div>
        <!-- Display stuff here-->
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>
<table>
  <tbody>
<% @data_coins_rest.each do |data_coin| %>
      <tr>
        <td><%= data_coin.name %></td>
        <td><%= link_to 'Show', data_coin %></td>
        <td><%= link_to 'Edit', edit_data_coin_path(data_coin) %></td>
        <td><%= link_to 'Destroy', data_coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
