<h1>Listing data_coins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_coins.each do |data_coin| %>
      <tr>
        <td><%= data_coin.name %></td>
        <td><%= link_to 'Show', data_coin %></td>
        <td><%= link_to 'Edit', edit_data_coin_path(data_coin) %></td>
        <td><%= link_to 'Destroy', data_coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data coin', new_data_coin_path %>
